@import "globals";

header {
  background-color: #161a1d;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 4% 0;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    animation: moveFromTop 1.5s ease-out;

    a {
      text-decoration: none;
      color: #fff;
    }

    .logo {
      font-size: 3.6rem;
      font-weight: 200;
      letter-spacing: 3px;
    }

    ul {
      display: flex;

      li {
        font-size: 1.3rem;
        font-style: italic;
        text-transform: lowercase;
        list-style: none;
        margin-left: 2.5em;
      }
    }
  }

  .h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      line-height: 54px;
      animation: moveFromTop 1.5s ease-out;
    }
  }
}

.socials {
  position: absolute;
  left: 10%;
  bottom: 4%;

  animation: moveFromBottom 1.5s ease-out;

  ul {
    list-style-position: inside;

    li {
      font-size: 1.3rem;
      font-style: italic;
      text-transform: lowercase;
      padding-top: 0.2em;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.top-shape {
  animation: moveFromLeft 2.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom-shape {
  animation: moveFromRight 2.5s ease-out;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 941px) {
  header {
    .blue-shape {
      display: none;
    }
    .h1 {
      transform: none;
      transform: translateY(-50%);
      left: 10%;
      padding-right: 9%;

      h1 {
        text-align: left;
      }
    }
  }
}

// @media (max-width: 700px) {
//   header
// }
